.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 150px 150px;
    gap: 10px;
}

.child1{
    border:2px groove red;
    width:20px;
    height:20px;
}

.child2{
    border:2px groove red;
    width:20px;
    height:20px;
}

.child3{
    border:2px groove red;
    width:20px;
    height:20px;
}