body {
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  padding: 15px 30px;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  background: transparent;
  border: 2px solid red;
  cursor: pointer;
  transition: all 0.3s ease;
}

button .hover-text {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  padding: 15px 20px;
  border-radius: 5px;
  white-space: nowrap;
}


button:hover .hover-text {
  opacity: 1;
  top: -70px;
  color: white;
  background: red;
}